<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871117396527-jehltl02edcfe5p8ov4l4oqi8qlcq7v7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871117396527-jehltl02edcfe5p8ov4l4oqi8qlcq7v7</string>
	<key>API_KEY</key>
	<string>AIzaSyDbrRX-jlvWzopT1L5vTVnriLyz34P_ylE</string>
	<key>GCM_SENDER_ID</key>
	<string>871117396527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.britemune.tcgfreak</string>
	<key>PROJECT_ID</key>
	<string>devwurk</string>
	<key>STORAGE_BUCKET</key>
	<string>devwurk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871117396527:ios:bb4df554ce7dfd13f844da</string>
</dict>
</plist>